* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #555;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 a {
    display: inline-block;
}

/* 第一部分 */
#head {
    width: 1200px;
    height: 65px;
    margin: 0 auto;
    position: fixed;
    background-color: write;
    top: 0;
    left: 50%;
    margin-left: -600px;
    z-index: 1000;

}

#head h1,
#head div,
#head ul:nth-child(3),
#head li {
    float: left;
    margin-right: 25px;
}

#head ul:nth-child(4) {
    float: right;
}

#head h1 a {
    display: inline-block;
    width: 133px;
    height: 0;
    padding-top: 65px;
    background-image: url('./images/猫眼电影.png');
    background-repeat: no-repeat;
    background-position: 0 15px;
    overflow: hidden;
}

#head ul a:hover {
    color: orange;
}

#head div {
    height: 65px;
    line-height: 65px;
}

#head li {
    height: 65px;
    line-height: 65px;
}

#head li a {
    padding: 0 10px;
}


#wrapper {
    background-color: white;
}



#head ul:nth-child(2) li:nth-child(2) {
    background-color: red;
    color: white;
}

#head ul:nth-child(3) {
    /* 右对齐 */
    float: right;
    text-align: right;

}

#head select {
    border: 0;
}

#wrapper {
    background-color: write;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

/* 第二部分 */
#nav {
    height: 60px;
    background-color: #555;
    margin-bottom: 20px;
    margin-top: 65px;
}

#nav ul {
    width: 450px;
    margin: 0 auto;
}

#nav li {
    float: left;
    height: 40px;
    line-height: 60px;
    margin-right: 20px;
    color: #777;
    position: relative;
}
#nav li a {
    padding: 0 10px;
}


#nav li:nth-child(1) {
    color: red;
}

#nav div {
    width: 0;
    height: 0;
    border-top: 0;
    border-right: 5px solid transparent;
    border-bottom: 7px solid white;
    border-left: 5px solid transparent;
    position: absolute;
    top: 52px;
    left: 40px;
}

#nav a:hover {
    color: #ccc;
}

/* 第三部分 */
#category,
#area,
#age {
    height: 70px;
    width: 1100px;
    border: 1px solid #ddd;
    margin: -1px auto;
    padding: 10px;
    box-sizing: border-box;
}

#category dt,
#area dt,
#age dt {
    height: 50px;
}

#category dt,
#category dd,
#area dt,
#area dd,
#age dt,
#age dd {
    float: left;
    margin: 0 10px 7px 0;
}

#category a,
#area a,
#age a {
    padding: 3px 6px;
}

#category dd:nth-child(2) a,
#area dd:nth-child(2) a,
#age dd:nth-child(2) a {
    background-color: red;
    color: white;
    border-radius: 20px;
}

/* 第四部分 */
#sort {
    width: 1100px;
    height: 30px;
    margin: 15px auto;
}

#sort li {
    float: left;
    margin-right: 20px;
}

/* 第五部分 */
#poster {
    width: 1100px;
    margin: 0 auto;
}

#poster::after {
    content: "";
    display: block;
    clear: both;
}

#poster ul {
    width: 160px;
    height: 270px;
    position: relative;
    float: left;
    margin-right: 28px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#poster ul:nth-child(6n) {
    margin-right: 0;
}

#poster li:nth-child(1) img {
    width: 100%;
    z-index: 1;
}

#poster li:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
    color: white;
}

#poster li:nth-child(3) {
    position: absolute;
    bottom: 50px;
    left: 128px;
    background-color: red;
    color: white;
}

#poster li:nth-child(5) {
    font-size: inherit;
    font-size: 1.2em;
    color: orange;
    font-weight: 700;
}

#poster li {
    text-align: center;
}

#poster a:nth-child(6) {
    display: none;
    position: relative;
    top: -280px;
    left: 0px;
    z-index: 10; 
}
  
#poster a:nth-child(6) img {
    margin-bottom: 0px;
}

#poster a:nth-child(6) h3,
#poster a:nth-child(6) p {
    background-color: rgba(238, 238, 238, 0.8);
    position: relative;
    bottom: 145px;
    padding: 0 15px;
}

#poster ul:hover a:nth-child(6) {
    display: block;
    transform: scale(1.1);
}

/* 第六部分 */
#page {
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 20px 0;
}

#page a {
    border: 1px solid red;
    padding: 3px 9px;
}

#page a:nth-child(2) {
    background-color: red;
    color: white;
}

/* 第七部分 */
#footer {
    background-color: #555;
}

#footer p {
    text-align: center;
    color: white;
    padding: 10px 0;
}

#footer p:nth-child(1) a {
    color: red;
}

#footer p a:hover {
    text-decoration: underline;
}

#footer img {
    width: 150px;
    height: 50px;
}
